.header {
  display: flex;
  height: 80px;
  padding: 0;
  // border-bottom: 1px solid #999;

  .header-logo {
    flex: 0 0 var(--width-sider);
    width: 200px;
    height: 100%;
    line-height: 80px;

    h1 {
      margin: 0;

      a {
        display: flex;
        padding: 0 0 0 28px;
      }
    }
  }

  .header-theme {
    flex: 0 0 auto;
    height: 100%;
    line-height: 80px;
    margin: 0 30px;

    // button {
    //     padding: 0;
    // }
  }

  .header-weather {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    line-height: 80px;
    font-size: 16px;

    .header-weather-position {
      flex: auto;
      display: flex;
      align-items: center;
    }

    .header-weather-detail {
      flex: auto;
      margin: 0 15px;
      display: flex;
      align-items: center;
    }

    .header-weather-temperature {
      flex: auto;
      display: flex;
      align-items: center;
    }
  }

  .header-user {
    display: flex;
    height: 100%;
    margin-left: auto;
    padding-right: 55px;

    .header-user-detail {
      display: flex;
      align-items: center;
      height: 30px;
      margin: auto 0;
    }
  }
}
