@import './variables.css';

/* #region 亮色主题 */
.light {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-gray-soft);
}

.light a,
.light a:hover,
.light a:visited,
.light a:active {
  color: var(--color-black) !important;
  text-decoration: none;
}
/* #endregion */

/* #region 暗色主题 */
.dark {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-black-mute);
}

.dark a,
.dark a:hover,
.dark a:visited,
.dark a:active {
  color: var(--color-white) !important;
  text-decoration: none;
}
/* #endregion */
