.center {
  display: flex;
  height: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  .center-sider {
    width: var(--width-sider);
    padding-top: calc(var(--padding-thirty-pixel) / 2);
    border-right-width: 1px;
    border-right-style: solid;
  }

  .center-main {
    flex: 1;

    .center-main-breadcrumb {
      padding: calc(var(--padding-thirty-pixel) / 2) var(--padding-thirty-pixel);
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .center-main-content {
      padding: var(--padding-thirty-pixel);
    }
  }
}
