.center {
  display: flex;
  height: 100%;
  // min-height: 900px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  .center-sider {
    width: var(--width-sider);
    border-right-width: 1px;
    border-right-style: solid;
  }

  .center-main {
    flex: 1;

    .center-main-breadcrumb {
      padding: 15px;
    }

    .center-main-content {
      padding: 20px;
    }
  }
}
