.tag {

    .tag-form {}

    .tag-tablebar {
        display: flex;
        margin-bottom: 10px;
        flex-direction: row-reverse;
    }

    .tag-table {
        .tag-table-bar {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 10px;
        }
    }

    .tag-pagination {
        display: flex;
        margin-top: 10px;
        flex-direction: row-reverse;
    }
}