.role {

    .role-form {}

    .role-tablebar {
        display: flex;
        margin-bottom: 10px;
        flex-direction: row-reverse;
    }

    .role-pagination {
        display: flex;
        margin-top: 10px;
        flex-direction: row-reverse;
    }
}