.flexo-table {
  .flexo-table-upper {
    margin: 20px 0;

    .flexo-table-upper-filter {
      float: left;
    }

    .flexo-table-upper-btns {
      float: right;
      display: flex;
      justify-content: end;

      button {
        margin: 0 0 0 10px;
      }
    }
  }

  .flexo-table-main {
    margin: 10px 0;
  }
}
